name: GitHub Pages deploy

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Validate YAML
        uses: brittonhayes/validate-yaml@v0.3.0
        with:
          schemaPath: 'schema.event.json'
          files: |
            deadlines/*.yaml
